include:
  - project: 'kits-maxiv/cfg-maxiv-gitlabci'
    file: '/Docker.gitlab-ci.yml'

  - project: 'kits-maxiv/cfg-maxiv-gitlabci'
    file: '/.python-ci.yml'


variables:
  DOCKER_REGISTRY: "harbor.maxiv.lu.se/daq"
  REDIS_URL: "redis://redis:6379/0"

test-python39:
  allow_failure: true
  when: manual

test-python310:
  allow_failure: false
  services:
    - redis:latest

test-python311:
  allow_failure: false
  services:
    - redis:latest