site_name: dranspose

repo_url: https://github.com/felix-engelmann/dranspose
edit_uri: edit/main/docs/

theme:
  name: "material"
  features:
    - content.action.edit

plugins:
  - mkdocstrings
  - search

markdown_extensions:
  - admonition
  - attr_list
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences

exclude_docs: |
  /seminar-2024-06-13
  !/seminar-2024-06-13/main.pdf
  /seminar-2023-11-30
  !/seminar-2023-11-30/main.pdf
  /poster-2024-01-15
  !/poster-2024-01-15/main.pdf

#nav:
#  - "index.md"
#  - "Reference":
#    - "protocols/events.md"
