name: Python package

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.11"]
        # ["pypy3.10", "3.11", "3.12", "3.13"]
    env:
      REDIS_URL: "redis://redis:6379/0"
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          python -m pip install --upgrade .[tests]
      - name: Test with pytest
        run: |
          pip install pytest pytest-cov setuptools
          pytest tests/test_* --log-cli-level=INFO
        #--cov=dranspose --cov-report=xml --cov-report=html

    # Service containers to run with `container-job`
    services:
      # Label used to access the service container
      redis:
        # Docker Hub image
        image: redis
        ports:
          # Opens tcp port 6379 on the host and service container
          - 6379:6379